<div class="background">
    <div class="container">
        <div class="img-container">
            <img src="./assets\about.png" alt="">
        </div>
        <div class="description-container">
            <h1 id="about">About Me</h1>
            <p>I’m a nice fun and friendly person, I’m honest and punctual, I work well in a team but also on my own as I like to set myself goals which I will achieve, I have good listening and communication skills. I have a creative mind and am always up for new challenges. I am well organized and always plan ahead to make sure I manage my time well. In my spare time I enjoy programming. I deal mostly with SQL Server, ASP.NET Core and Angular.
                Here is my project on github. Also Im good at:</p>
                <ul>
                    <li>
                        <span>html</span>
                    </li>
                    <li>
                        <span>css</span>
                    </li>
                    <li>
                        <span>typescript</span>
                    </li>
                    <li>
                        <span>javascript</span>
                    </li>
                    <li>
                        <span>angular</span>
                    </li>
                    <li>
                        <span>vue</span>
                    </li>
                    <li>
                        <span>react</span>
                    </li>
                </ul>
                <a class="download-button" href="/assets\Mehmetali_Duman_s_CV__EN.pdf" download>
                    Download CV
                    <i class="fa fa-download" ></i>
                </a>
        </div>
    </div>
</div>