<div class="background">
    <div class="container">
        <div class="description-container">
            <h2 class="description-name">Mehmet Ali Duman</h2>
            <h4 class="description-education">Softwareingeniør</h4>
            <ul>
                <li id="description-mail">
                    <i style="font-size: 18px;" class="fa fa-envelope"></i>
                    <a href="mailto:">mehmetali_1222@hotmail.com</a>
                </li>
                <li id="description-number">
                    <i class="fa fa-phone" style="font-size:22px"></i>
                    <a id="number" href="callto">+45 50 16 33 07</a>
                </li>
                <li id="description-address">
                    <i class="fa fa-home"></i>
                    <a id="address">Sønderborg</a>
                </li>
            </ul>
        </div>
        <div class="img-container">
            <img src="./assets\Mehmatali_Duman.jpg" alt="Avatar">
        </div>
    </div>
</div>