.background {
    height: 630px;
    /* background-color: aqua; */
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.description {
    color: white;
}

img { 
    border-radius: 50%;
    float: right;
}