.background {
    height: 630px;
    /* background-color: aqua; */
    padding: 180px 0;
    margin-right: auto;
    margin-left: auto;
}

.container {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}

img { 
    border-radius: 50%;
    height: 360px;
    width: 360px;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    float: left; 
    width: 50%; 
}

.description-container {
    color: white;
    float: left; 
    width: 50%;
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
}

.description-name {
    font-weight: 600;
    font-size: 60px;
    line-height: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description-education {
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#description-mail {
    /* display: flex; */
    cursor: pointer;
    background-color: transparent;
    padding: 0px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    margin: 10px 0;
    
}

#description-number {
    display: flex;
    margin: 10px 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    cursor: pointer;
    padding: 0px;
    background-color: transparent;
}

#description-address {
    display: flex;
    margin: 10px 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    padding: 0px;
    background-color: transparent;
}

ul {
    margin: 10px 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    padding: 0px;
    background-color: transparent;
    margin-top: 20px;
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none !important;
}


.phone-icon {
    font-size: 22px;
    margin-right: 5px;
}

.fa {
    color: white;
    font-size: 22px;
    margin-right: 5px;
}

.fa:hover {
    color: #2196F3;
}

.fa-facebook:hover {
    opacity: 0.7;
    background: white;
    color: #2196F3;
}

.fa-facebook {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: white;
    font-size: 18px;
    height: 38px;
    width: 38px;
    border-radius: 3px;

}
.fa-github:hover {
    opacity: 0.7;
    background: white;
    color: #2196F3;
}

.fa-github {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: white;
    font-size: 18px;
    height: 38px;
    width: 38px;
    border-radius: 3px;

}


.fa-linkedin-square:hover {
    opacity: 0.7;
    background: white;
    color: #2196F3;
}

.fa-linkedin-square {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: white;
    font-size: 18px;
    height: 38px;
    width: 38px;
    border-radius: 3px;

}
.fa-instagram:hover {
    opacity: 0.7;
    background: white;
    color: #2196F3;
}

.fa-instagram {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: white;
    font-size: 18px;
    height: 38px;
    width: 38px;
    border-radius: 3px;

}

.icons-size {
    display: flex;
    align-items: center;
    height: 58px;
    width: 208px;
}