<div class="background">
    <h3>What I do</h3>
    <div class="whatIDo-container">
        <div class="box">
            <i class="fa fa-bullseye"></i>
            <h3 class="box-title">UI Design</h3>
            <p>I Design UI for application for eg. WPF- and web application</p>
        </div>
        <div class="box">
            <i class="fa fa-code iron-color"></i>
            <h3 class="box-title">Web Development</h3>
            <p>Developing web application by using technologies as Angular, Vue and React</p>
        </div>
        <div class="box">
            <i class="fa fa-object-ungroup sky-color"></i>
            <h3 class="box-title">App Development</h3>
            <p>Developing mobile application by using Flutter and Android studio, where it's coded in Java</p>
        </div>
    </div>
    <!-- <div class="skills-container">
        <div class="tech-skills-container">
            <h3>Technical Skills</h3>
            <div>
                <progress id="file" value="32" max="100"> 32% </progress>
            </div>
        </div>
        <div class="pro-container">

        </div>

    </div> -->
</div>