<div class="background">
    <h3>What I do</h3>
    <div class="whatIDo-container">
        <div class="box">
            <i class="fa fa-bullseye"></i>
            <h3 class="box-title">UI Design</h3>
            <p>some text</p>
        </div>
        <div class="box">
            <i class="fa fa-code iron-color"></i>
            <h3 class="box-title">Web Development</h3>
            <p>some text</p>
        </div>
        <div class="box">
            <i class="fa fa-object-ungroup sky-color"></i>
            <h3 class="box-title">App Development</h3>
            <p>some text</p>
        </div>
    </div>
    <div class="skills-container">
        <div class="tech-skills-container">

        </div>
        <div class="pro-container">

        </div>

    </div>
</div>