
<nav class="top-bar-color">

    <div class="row">
        <div (click)="scrollToTop()" class="logo">Mehmet</div>
        <ul class="title-position">
            <li>
                <label class="labl">
                    <input id="home" type="radio" name="radioname" value="one_value" checked="checked"/>
                    <a (click)="scrollToTop()" href="#home" class="titles">Home</a>
                </label>
            </li>
            <li>
                <label class="labl">
                    <input id="about" type="radio" name="radioname" value="two_value" />
                    <a href="#about" class="titles">About</a>
                </label>
            </li>
            <!-- <li>
                <label class="labl">
                    <input type="radio" name="radioname" value="three_value" />
                    <div class="titles">Skills</div>
                </label>
            </li>
            <li>
                <label class="labl">
                    <input type="radio" name="radioname" value="three_value" />
                    <div class="titles">Experiences</div>
                </label>
            </li>
            <li>
                <label class="labl">
                    <input type="radio" name="radioname" value="four_value" />
                    <div class="titles">Contact</div>
                </label>
            </li> -->
        </ul>
    </div>
</nav>