
<nav class="top-bar-color">
    <div class="row">
        <div (click)="scrollToTop()" class="logo">Mehmet</div>
        <ul class="title-position">
            <li>
                <label class="labl" >
                    <input id="home1" type="radio" name="radioname" value="one_value" checked="checked"/>
                    <a (click)="scrollToTop()" class="titles" href="#home">Home</a>
                </label>
            </li>
            <li>
                <label class="labl" >
                    <input id="about1" type="radio" name="radioname" value="two_value" />
                    <a class="titles" href="#about">About</a>
                </label>
            </li>
            <!-- <li>
                <label class="labl" >
                    <input id="skills1" type="radio" name="radioname" value="one_value" checked="checked"/>
                    <a class="titles" href="#skills">Skills</a>
                </label>
            </li>
            <li>
                <label class="labl" >
                    <input id="experiences1" type="radio" name="radioname" value="two_value" />
                    <a class="titles" href="#experiences">Experiences</a>
                </label>
            </li>
            <li>
                <label class="labl" >
                    <input id="contact1" type="radio" name="radioname" value="two_value" />
                    <a class="titles" href="#contact">Contact</a>
                </label>
            </li> -->
        </ul>
    </div>
    <!-- <div class="top-bar-mobile">
        <span class="navbar-toggler-icon icon"></span>
    </div> -->
</nav>