
<div class="top-bar-color">
    <div class="row">
        <div class="logo">MD</div>
        <ul class="title-position">
            <!-- <li>
                <label class="labl">
                    <input type="radio" name="radioname" value="one_value" checked="checked"/>
                    <div class="titles">Home</div>
                </label>
            </li>
            <li>
                <label class="labl">
                    <input type="radio" name="radioname" value="two_value" />
                    <div class="titles">About</div>
                </label>
            </li>
            <li>
                <label class="labl">
                    <input type="radio" name="radioname" value="three_value" />
                    <div class="titles">Skills</div>
                </label>
            </li>
            <li>
                <label class="labl">
                    <input type="radio" name="radioname" value="three_value" />
                    <div class="titles">Experiences</div>
                </label>
            </li>
            <li>
                <label class="labl">
                    <input type="radio" name="radioname" value="four_value" />
                    <div class="titles">Contact</div>
                </label>
            </li> -->
        </ul>
</div>
